In [2]:
import pandas as pd
import numpy as np
import re
import datetime

In [3]:
most_expensive=pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-5-Your-Own-Project\Data\final'+'/'+'most_expensive_clean.csv')

In [4]:
most_expensive=most_expensive.drop(['Unnamed: 0'], axis=1)

In [5]:
most_expensive

           brand                                    model  price
0           Nike                              Dunk SB Low  34489
1           Nike                   MAG Back to the Future  26746
2         Jordan                           4 Retro Eminem  23726
3         Jordan                    4 Retro Eminem Encore  15530
4         Jordan  4 Retro Travis Scott Purple Friends and  14344
..           ...                                      ...    ...
995         Nike                     Dunk SB Low Skate or    557
996   Balenciaga                      Speed Trainer Black    557
997    OFF-WHITE                          Odsy-1000 Black    556
998         Nike                                 Dunk Low    556
999  New Balance                   990v3 Todd Snyder Pale    556

[1000 rows x 3 columns]

In [10]:
most_expensive.groupby(['model']).count()

                                        brand  price
model
1 Mid Xbox E3                               1      1
1 OG Chicago                                1      1
1 Retro                                     1      1
1 Retro Banned                              1      1
1 Retro Black Metallic Gold                 1      1
...                                       ...    ...
Zoom Vaporfly Elite Flyprint NYC Tokyo      1      1
Zoom Victory Tour                           1      1
of God Ski Lounge Boot                      1      1
x Diadora 9000 Highly Addictive             1      1
x Max Atmos                                 1      1

[873 rows x 2 columns]

In [8]:
most_expensive.model.count()

1000